<div class="container">
  <div class="row mb-4">
    <div class="col-3 admin-page-title"><h4>趣味詳細</h4></div>
  </div>
  <div class="row">
    <div class="col-md-8 hobby-title">
      <%= attachment_image_tag @hobby, :hobby_image, size:"200x200", format:'jpg' %>
      <%= @hobby.title, class:"w-100" %>
    </div>
  </div>
  <div class="row mb-4">
    <p class="col-md-3">category:</p>
    <p class="offset-md-1">categorrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrry</p>
  </div>
  <div class="row mb-3">
    <p class="col-md-3">introduction:</p>
    <%= @hobby.introduction, class:"col-md-7 offset-md-1 d-flex flex-wrap" %>
  </div>
</div>