// Place all the styles related to the end_user/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  display:flex;
  flex-direction:column;
  justify-content:center;

  &_info{
    padding:20px;
    display:flex;
    justify-content:space-between;
  }

  &_follow{
    border-radius:5px;
  }

  &_row{
    padding:10px;
    width:80%;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  %_row{
    @extend %_row;

    &_title{
      @extend %_row;
      justify-content:center;
    }
  }



  %_name{
    display:flex;
    flex-wrap:wrap;
  }

  %_name{
    @extend %_name;

    &_comment{
      @extend %_name;
    }
  }

}