// Place all the styles related to the end_user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  display:flex;
  justify-content:center;
  flex-direction:column;

  .home{
    @extend .home;

    &_top{
      @extend .home;
    }

  }

  &_title{
    text-align:center;
  }

  &_introduction{
    text-align:center;
    margin-bottom:50px;
  }

  &_set-up{
    display:flex;
    justify-content:center;
  }

  &_sign-up{
    padding:8px;
    width:200px;
  }

  &_sign-up{

    @extend &_sign-up;

    &_sign-in{
     @extend &_sign-up;
    margin-left:120px;
    }
  }



  &_link-hobbies{
    padding:16px;
    border:1px solid black;
  }

  &_categories{
    padding:16px;
    border:1px solid black;
  }

  &_ranking{
    width:90%;
    padding:16px;
  }

  &_ranking-title{
    border-bottom:1px solid black;
  }

  &_hobby{
    padding:16px;
    margin:20px;
    border:1px solid black;
  }

  &_post{
    padding:16px;
    margin:20px;
    border:1px solid black;
  }

  &_post-sub{
    margin-left:auto;
  }

}

.footer{
  display: flex;
  justify-content: space-around;
}