<div class="container">
  <div class="row mb-4">
    <div class="col-3 admin-page-title"><h4>ユーザー一覧</h4></div>
  </div>
  <div class="hobbies-table">
    <table class="table admin-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
          <th>e-mail</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <% @hobbies.each do |t| %>
        <tr>
          <td><%= t.id %></td>
          <td>
            <%= attachment_image_tag t, :user_image, size: "100x100", format: "jpg", fallback: "no-image.jpeg" %>
            <%= t.name %>
          </td>
          <td><%= t.email %></td>
          <% if t.is_deleted == false %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="text-secondary">退会</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>