// Place all the styles related to the end_users/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories{
  width:80%;
  padding:23px;

  &_title{
    width:100%;
    border-bottom:1px solid black;
    padding:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

  &_search{
    display:flex;
    flex-direction:column;
  }

  &_serch-field{
    width:250px;
    padding:1px;
    margin-bottom:10px;
  }

  &_serch-submit{
    width:80px;
    margin-left:auto;
  }

  &_contents{
    padding:20px 20px 40px 20px;
    border-bottom:1px solid black;
  }

  &_main{
    padding:3px;
    margin-bottom:8px;
    border:1px solid black;
    display:flex;
    align-items:center;
    background-color:white;
  }

  &_name{
    margin-left:10px;
  }

  &_hobby-list{
    display:flex;
    flex-wrap:wrap;
  }

  &_hobby{
    border:1px solid black;
    display:flex;
    align-items:center;
    margin:5px;
  }

  &_hobby-name{
    display:flex;
    align-items:center;
    width:190px;
    padding:5px;
    background-color:white;
  }

  &_paginate{
    margin:10px;
    display:flex;
    justify-content:space-around;
  }
}

@media screen and (max-width: 768px) {
  .categories{
    width:100%;
  }
}