// Place all the styles related to the end_users/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories{
  width:100%;
  padding:23px;

  &_title{
    width:100%;
    border-bottom:1px solid black;
    padding:10px;
    display:flex;
    justify-content:center;
  }

  &_contents{
    padding:20px 20px 100px 20px;
    width:90%;
    border-bottom:1px solid black;
  }

  &_main{
    border:1px solid black;
    padding:20px;
    display:flex;
  }

  &_name{
    margin-left:10px;
  }

  &_hobby{
    width:200px;
    padding:10px;
    border:1px solid black;
    display:flex;
    align-items:center;
  }

  &_hobby-name{
    margin-left:10px;
  }

  &_paginate{
    width:100%;
    display:flex;
    justify-content:space-around;
  }

}