// Place all the styles related to the end_users/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  width:100%;
  padding:23px;

  &_info{
    padding:10px;
    display:flex;
    justify-content:space-between;
  }

  %_row{
    padding:25px;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_row{
    @extend %_row;

    &--center{
      @extend %_row;
      justify-content:center;
    }
  }

  &_title{
    padding:25px;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  &_name{
    width:70%;
    overflow-wrap:word-break;
  }

  &_comment{
    overflow-wrap:word-break;
  }

   &_favorite-hobbies{
    display:flex;
    flex-wrap:wrap;
  }

  &_hobby{
    border:1px solid black;
    display:flex;
    align-items:center;
    margin-left:10px;
  }

  &_hobby-name{
    display:flex;
    align-items:center;
    width:200px;
    margin:5px;
  }
}

.user_edit{
  width:100%;
  padding:23px;
  
  &_image{
    display:felx;
    justify-content:center;
    align-items:end;
    margin-bottom:45px;
  }
  
  &_name{
    display:felx;
    justify-content:center;
    
    margin-bottom:30px;
  }
  
  &_email{
    display:felx;
    justify-content:center;
    
    margin-bottom:30px;
  }
  
  &_comment{
    display:felx;
    justify-content:center;
    
    margin-bottom:30px;
  }
}