// Place all the styles related to the end_users/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  width:80%;
  padding:23px;

  &_info{
    display:flex;
    justify-content:space-between;
  }

  %_row{
    padding:25px;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_row{
    @extend %_row;

    &--center{
      @extend %_row;
      justify-content:center;
    }
  }

  &_title{
    padding:25px;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  &_name{
    width:70%;
  }

  &_email{
    margin-left:10px;
  }

  &_comment{
    overflow-wrap:word-break;
  }

  &_favorite{
    min-width:20%;
  }

   &_favorite-hobbies{
    display:flex;
    flex-wrap:wrap;
  }

  &_hobby{
    border:1px solid black;
    display:flex;
    align-items:center;
    margin:5px;
  }

  &_hobby-name{
    display:flex;
    align-items:center;
    width:190px;
    padding:5px;
    background-color:white;
  }
}

.user-edit{
  width:80%;
  padding:23px;

  &_info{
    display:flex;
    justify-content:space-between;
  }

  &_submit{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color:#007bff;
    background-color: white;
    border: none;
  }

  &_errors{
    text-align:center;
    color:red;
  }

  &_image{
    display:flex;
    justify-content:center;
    margin-bottom:45px;
    align-items:flex-end;
  }

  &_name{
    display:flex;
    justify-content:center;
    align-items:baseline;
    margin-bottom:50px;
  }

  &_name-label{
    width:135px;
    text-align:right;
  }

  &_name-field{
    margin-left:50px;
    width:500px;
    padding:5px;
  }

  &_comment{
    display:flex;
    justify-content:center;
    align-items:baseline;
    margin-bottom:50px;
  }

  &_comment-label{
    width:135px;
    text-align:right;
  }

  &_comment-field{
    width:500px;
    height:85px;
    padding:5px;
    margin-left:50px;
  }

  &_complete{
    display:flex;
    justify-content:center;
  }

  &_delete{
    text-align:end;
  }

  &_delete-button{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    padding:6px 16px;
    border:1px solid black;
    border-radius:5px;
    transition:0.3s;
    color:black;
    background-color:white;
  }

  &_delete-button:hover{
     background-color:#dc3545;
     color:white;
  }
}

.user-new-post{
  width:80%;
  padding:23px;

  &_hobby-title{
    padding:20px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  &_hobby-select{
    padding:2px;
    margin-left:15px;
    height:30px;
  }

  &_bottom{
    padding:10px;
    text-align:center;
  }

  &_error{
    text-align:center;
    color:red;
    margin:10px;
  }

  &_main{
    width:80%;
    padding:20px;
    border:1px solid black;
    margin:10px auto 35px;
    background-color:white;
  }

  &_title{
    margin-bottom:15px;
  }

  &_title-field{
    width:90%;
    height:35px;
  }

  &_image{
    margin-bottom:15px;
  }

  &_tag-field{
    width:90%;
  }

  &_body-field{
    width:90%;
    height:100px;
  }

  &_label{
    margin:10px;
  }

  &_send{
    display:flex;
    justify-content:space-around;
  }

  &_submit{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color:white;
    color:black;
    border-radius:5px;
    padding:3px 10px;
    font-size:20px;
  }

  &_submit:hover{
    background-color:#007bff;
    color:white;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_submit:active{
    transform: scale(1.05);
  }

  &_cancel{
    text-decoration:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border:2px outset rgb(118, 118, 118);
    border-image: initial;
    background-color:white;
    color:black;
    border-radius:5px;
    transition: 0.3s;
    padding:3px 10px;
    font-size:20px;
  }

  &_cancel:hover{
    background-color:#ff293a;
    color:white;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_cancel:active{
    transform: scale(1.05);
  }

  &_out{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  &_out-link{
    padding:5px;
    margin:10px;
    font-size:20px;
    border-radius:50px;
  }

  &_out-link:hover{
    transition:0.3s;
    color:white;
    background-color:#29dad9;
  }
}

@media screen and (max-width: 768px) {
  .user{
    width:100%;
    padding:15px;
  }

  .user-edit{
    width:100%;
    padding:15px;
  }

  .user-new-post{
    width:100%;
    padding:15px;

    &_hobby-title{
      display:block;
    }

    &_main{
      width:100%;
      margin-bottom:35px;
    }

    &_img-prev{
      width:100%;
      height:100%;
    }
  }
}