// Place all the styles related to the end_users/followers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow{
  width:80%;
  padding:23px;

  &_back{
    padding:10px;
    display:flex;
    justify-content:space-between;
  }

  &_top{
    padding:10px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  &_user{
    padding:12px 20px;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

  &_user-link{
    display:flex;
    align-items:center;
  }
}

@media screen and (max-width: 768px) {
  .follow{
    width:100%;
  }
}