// Place all the styles related to the end_users/followers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow{

  &_top{
    display:flex;
    justify-content:center;
    border-bottom:1px solid black;
  }

  &_user{
    padding:60px;
    border-bottom:1px solid whitesmoke;
    display:flex;
    align-items:center;
  }

  &_name{
    overflow-wrap:word-break;
  }

  &_buttom{
    margin-left:auto;
  }

}