// Place all the styles related to the end_users/hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hobbies{
  width:80%;
  padding:23px;

  &_title{
    width:100%;
    border-bottom:1px solid black;
    padding:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

  &_search{
    display:flex;
    flex-direction:column;
  }

  &_serch-field{
    width:250px;
    padding:1px;
    margin-bottom:10px;
  }

  &_serch-submit{
    width:80px;
    margin-left:auto;
  }

  &_contents{
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }

  &_one{
    padding:2%;
  }

  &_one-link{
    width:170px;
    height:200px;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:5px;
  }

  &_one-image{
    width:80%;
    height:50%;
  }

  &_one-introduction{
    overflow: hidden;
  }

  &_paginate{
    width:100%;
    display:flex;
    justify-content:space-around;
  }
}

.hobby-one{
  width:80%;
  padding:23px;

  &_top{
    padding-bottom:20px;
    width:100%;
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

  &_title{
    display:flex;
    align-items:center;
  }

  &_introduction{
    margin:20px;
    overflow-wrap:break-word;
    text-align:center;
  }

  &_link-posts{
    text-align:center;
  }

  &_button{
    width:70%;
    margin-bottom:20px;
  }

// 投稿全体設定
  &_posts{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  &_post-user-link{
    text-decoration:none;
    color:black;
  }

  &_post-link{
    text-decoration:none;
    color:black;
  }

  // 投稿単体設定
  &_post{
    width:70%;
    margin-top:30px;
  }

  &_post-main{
    padding:20px 20px 0 20px;
    position:relative;
    z-index:2;
    border:1px solid black;
    background-color:white;
  }

  &_post-user{
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_post-created{
    margin-left:auto;
  }

  &_post-created-time{
    margin-bottom:5px;
  }

  &_post-title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_post-image-field{
    text-align:center;
  }

  &_post-image{
    width:90%;
  }

  &_post-tag-list{
    display:flex;
    flex-wrap:wrap;
  }

  &_post-tag{
    margin-left:5px;
  }

  &_post-sub{
    position:relative;
    bottom:20px;
    left:50px;
    z-index:1;
    border:1px solid black;
    height:55px;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    background-color:white;
  }
}

@media screen and (max-width: 768px) {
  .hobbies{
    width:100%;
  }

  .hobby-one{
    width:100%;
  }
}