// Place all the styles related to the end_users/notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notifications{
  width:100%;
  padding:23px;

  &_top{
    padding:10px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  &_body{
    border-bottom:1px solid black;
    padding:12px 20px;
    margin:10px;
  }

  &_text{
    margin-bottom:5px;
  }

  &_comment{
    color: gray;
    margin-top:5px;
  }

  &_time{
    text-align:right;
  }
}