// Place all the styles related to the end_users/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts{
  display:flex;
  flex-direction:column;
  padding:23px;

  &_top{
    padding:20px;
    width:90%;
    border-bottom:1px solid black;
    padding:10px;
    display:flex;
    justify-content:center;
  }


  &_index{
    display:flex;
    justify-content:center;
    margin-top:30px;
  }

  &_main{
    display:flex;
    justify-content:center;
    padding:20px 20px 0 20px;
    position:relative;
    z-index:2;
    border:1px solid black;
    width:80%;
  }

  &_post-user{
    width:90%;
    border-bottom:1px solid black;
    display:flex;
  }

  &_post-created{
    margin-left:auto;
    display:flex;
    flex-wrap:wrap;
    width:40%;
  }

  &_post-title{
    width:80%;
    overflow-wrap:break-word;
  }

  &_post-image{
    width:550px;
    height:350px;
  }

  &_post-list{
    width:80%;
    display:flex;
    flex-wrap:wrap;
  }

  &_post-sub{
    position:relative;
    bottom:50px;
    left:50px;
    z-index:1;
    border:1px solid black;
    height:80px;
    width:80%;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
  }
}


.post-one{
  width:100%;
  padding:23px;

  &_bottom{
    padding:10px;
  }

  &_back{
    width:90%;
    text-align:left;
  }

  &_back-span{
    font-size:30px;
    color:black;
  }

  &_back-span:active{
    color:red;
  }

  &_main{
    width:70%;
    padding:20px 20px 0 20px;
    border:1px solid black;
    margin:10px auto 35px;
    position:relative;
    z-index:2;
  }

  &_confirm{
    text-align:center;
  }

  &_user{
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_created{
    margin-left:auto;
  }

  &_created-time{
    margin-bottom:5px;
  }

  &_title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_image{
    text-align:center;
  }

  &_tag-list{
    width:90%;
    display:flex;
    flex-wrap:wrap;
  }

  &_tag{
    margin-right:10px;
  }

  &_body{
    width:98%;
    overflow-wrap:break-word;
  }

  &_send{
    text-align:center;
  }

  &_sub{
    position:relative;
    bottom:50px;
    left:50px;
    z-index:1;
  }

  &_content{
    width:80%;
    height:80px;
    border:1px solid black;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
  }

  &_comment{
    width:80%;
    border:1px solid black;
  }

  &_comment-user{
    width:90%;
    display:inline-block;
  }

  &_comment-created{
    margin-left:auto;
  }

  &_comment-main{
    width:70%;
    overflow-wrap:break-word;
    display:flex;
    justify-content:center;
  }

  &_all-comment{
    width:50%;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid black;
    text-align:center;
    border-radius:3px;
  }

  &_delete{
    width:90%;
    text-align:light;
  }

}


.new-post{
  width:100%;
  padding:23px;

  &_bottom{
    padding:10px;
    text-align:center;
  }

  &_main{
    width:70%;
    padding:20px;
    border:1px solid black;
    margin:10px auto 35px;
  }

  &_title{
    margin-bottom:15px;
  }

  &_title-field{
    width:90%;
    height:35px;
  }

  &_image{
    margin-bottom:15px;
  }

  &_tag-field{
    width:90%;
  }

  &_body-field{
    width:90%;
    height:100px;
  }

  &_label{
    margin:10px;
  }

  &_submit{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color:white;
    color:black;
    border-radius:5px;
    margin-left:150px;
    padding:3px 10px;
    font-size:20px;
  }

  &_submit:hover{
    background-color:#007bff;
    color:white;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_submit:active{
    transform: scale(1.05);
  }

  &_cancel{
    text-decoration:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color:white;
    color:black;
    border-radius:5px;
    transition: 0.3s;
    padding:3px 10px;
    font-size:20px;
  }

  &_cancel:hover{
    background-color:#ff293a;
    color:white;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_cancel:active{
    transform: scale(1.05);
  }

}