// Place all the styles related to the end_users/post_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-posts{
  width:80%;
  padding:23px;

  &_top{
    padding:10px;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
    justify-content:space-around;
  }

  &_search{
    display:flex;
    flex-direction:column;
  }

  &_serch-field{
    width:250px;
    padding:1px;
    margin-bottom:10px;
  }

  &_serch-submit{
    width:80px;
    margin-left:auto;
  }

  &_index{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  &_post-link{
    color:black;
  }

  &_post{
    width:80%;
    margin-top:30px;
  }

  &_post-main{
    padding:20px 20px 0 20px;
    position:relative;
    z-index:2;
    border:1px solid black;
    background-color:white;
  }

  &_post-user{
    color:black;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_post-created{
    margin-left:auto;
  }

  &_post-created-time{
    margin-bottom:5px;
  }

  &_post-title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_post-image-field{
    text-align:center;
  }

  &_post-image{
    width:90%;
  }

  &_post-tag-list{
    display:flex;
    flex-wrap:wrap;
  }

  &_post-tag{
    margin-left:5px;
  }

  &_post-sub{
    position:relative;
    bottom:20px;
    left:50px;
    z-index:1;
    border:1px solid black;
    height:55px;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    background-color:white;
  }
}

.user-post{
  width:80%;
  padding:23px;

  &_top{
    padding:10px;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
    justify-content:space-around;
  }

  &_bottom{
    padding:10px;
    display:flex;
    justify-content:center;
  }

  &_post{
    width:80%;
    margin-top:30px;
  }

  &_main{
    padding:20px 20px 0 20px;
    border:1px solid black;
    position:relative;
    z-index:2;
    background-color:white;
  }

  &_user{
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_created{
    margin-left:auto;
  }

  &_created-time{
    margin-bottom:5px;
  }

  &_title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_post-image-field{
    text-align:center;
  }

  &_post-image{
    width:90%;
  }

  &_tag-list{
    margin-bottom:5px;
    display:flex;
    flex-wrap:wrap;
  }

  &_tag{
    margin-left:5px;
  }

  &_body{
    width:98%;
    overflow-wrap:break-word;
  }

  &_sub{
    border:1px solid black;
    position:relative;
    bottom:20px;
    left:50px;
    z-index:1;
    background-color:white;
  }

  &_content{
    height:55px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
  }

  &_content{
    height:55px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
  }

  &_comment{
    padding:0 5px;
    border-bottom:1px solid black;
  }

  &_comment-user{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid #adb5bd;
  }

  &_comment-main{
    padding:5px;
    overflow-wrap:break-word;
  }

  &_link-comment{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
  }

  &_delete{
    width:90%;
    text-align:right;
  }
}

@media screen and (max-width: 768px) {
  .user-posts{
    width:100%;
  }

  .user-post{
    width:100%;
  }
}