// Place all the styles related to the end_users/post_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-posts{
  width:100%;
  padding:23px;

  &_top{
    padding:10px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
  }

  &_user-title{
    display:flex;
    align-items:center;
  }

  &_index{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  &_post-link{
    color:black;
  }

  &_post{
    width:70%;
    margin-top:30px;
  }

  &_post-main{
    padding:20px 20px 0 20px;
    position:relative;
    z-index:2;
    border:1px solid black;
    background-color:white;
  }

  &_post-user{
    color:black;
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_post-created{
    margin-left:auto;
  }

  &_post-created-time{
    margin-bottom:5px;
  }

  &_post-title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_post-image{
    text-align:center;
  }

  &_post-list{
    width:80%;
    display:flex;
    flex-wrap:wrap;
  }

  &_post-sub{
    position:relative;
    bottom:20px;
    left:50px;
    z-index:1;
    border:1px solid black;
    height:55px;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    background-color:white;
  }
}

.user-post{
  width:100%;
  padding:23px;



  &_bottom{
    padding:10px;
    display:flex;
    justify-content:center;
  }

  &_post{
    width:70%;
    margin-top:30px;
  }

  &_main{
    padding:20px 20px 0 20px;
    border:1px solid black;
    position:relative;
    z-index:2;
    background-color:white;
  }

  &_user{
    border-bottom:1px solid black;
    display:flex;
    align-items:center;
  }

  &_created{
    margin-left:auto;
  }

  &_created-time{
    margin-bottom:5px;
  }

  &_title{
    width:98%;
    padding:10px;
    margin:0;
    overflow-wrap:break-word;
  }

  &_image{
    text-align:center;
  }

  &_tag-list{
    width:90%;
    display:flex;
    flex-wrap:wrap;
  }

  &_tag{
    margin-right:10px;
  }

  &_body{
    width:98%;
    overflow-wrap:break-word;
  }

  &_sub{
    border:1px solid black;
    position:relative;
    bottom:20px;
    left:50px;
    z-index:1;
    background-color:white;
  }

  &_content{
    height:55px;
    border-bottom:1px solid black;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
  }

  &_comment{
    border-bottom:1px solid black;
  }

  &_comment-user{
    width:90%;
    margin:auto;
    display:inline-block;
  }

  &_comment-created{
    margin-left:auto;
  }

  &_comment-main{
    padding:5px;
    width:90%;
    overflow-wrap:break-word;
  }

  &_all-comment{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
  }

  &_delete{
    width:90%;
    text-align:right;
  }
}
