/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

body{
    width:100%;
}

.admin-title{

    &_page-title{
        border:1px solud black;
        background-color:whitesmoke;
        padding:5px;
    }
}

.admin-table{

    &_index-thead{
        background-color:whitesmoke;
        border:1px solid black;
    }

    &_index-table tr{
        border-bottom:1px solid black;
    }

}

.hobby-top{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.hobby-title{
    padding:20px;
    width:90%;
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
}

.user-top{
    display:flex;
    justify-content:space-around;
    padding:20px;
    width:90%;
    border-bottom:1px solid black;
}

.nav-items{
    width:100%;
    text-align:right;
    padding:20px 10px;
    transition:all 0.5s 0s ease;
}
.nav-items:hover{
    width:120%;
    text-align:right;
}
.nav-icon{
    display:inline-block;
    margin-left:auto;
    background-color:red;
    color:white;
}

.pagination{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.pagination span{
  text-align: center;
  border: solid 1px #344963;
  color: rgb(197, 20, 159);
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}