// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact{
  width:80%;
  padding:23px;

 &_form{
    margin-top:20px;
    padding:20px;
  }

  &_title{
    padding-left:30px;
  }

  &_error{
    color:red;
    text-align:center;
  }

  &_field{
    margin-bottom:20px;
    display:flex;
    justify-content:center;
    align-items:baseline;
  }

  &_field label{
    width:120px;
    text-align:end;
  }

  &_name-field{
    padding:3px;
    margin:10px;
    width:70%;
  }

  &_email-field{
    padding:3px;
    margin:10px;
    width:70%;
  }

  &_message-field{
    padding:3px;
    margin:10px;
    width:70%;
    height:95px;
  }

  &_contents{
    margin-left:50px;
    margin-bottom:20px;
    display:flex;
    align-items:baseline;
  }

  &_contents-name{
    margin:10px;
  }

  &_contents-email{
    margin:10px;
  }

  &_contents-message{
    margin:10px;
  }


  &_send{
    display:flex;
    justify-content:center;
  }

  &_submit{
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color:white;
    color:black;
    border-radius:5px;
    padding:3px 10px;
    font-size:20px;
  }

  &_submit:hover{
    background-color:#00ff53;
    color:black;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_submit:active{
    transform: scale(1.05);
  }

  &_cancel{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color:white;
    color:black;
    border-radius:5px;
    padding:3px 10px;
    font-size:20px;
  }

  &_cancel:hover{
    background-color:#ff293a;
    color:white;
    transition: 0.3s;
    transform: scale(1.05);
  }

  &_cancel:active{
    transform: scale(1.05);
  }

}

.contact-thanks{
  text-align:center;
  padding:50px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}